{% extends "base.html" %}

{% block title %}Charts{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div id="chart"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var data = [
            {
                z: [[1, 20, 30], [20, 1, 60], [30, 60, 1]],
                type: 'heatmap'
            }
        ];

        Plotly.newPlot('chart', data, {}, {
            responsive: true
        });
    </script>
{% endblock %}