{% extends "base.html" %}

{% load record_extras %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

    {% if submitted %}
        <div class="row">
            <p class="success col s12">
                Your item was submitted successfully. Thank you.
            </p>
        </div>

    {% else %}

        <div class="row">
            <div class="card col s12 m10 offset-m1 l6 offset-l3">
                <form action="" method="post" class="card-content" novalidate>
                    {{ form.charity }}

                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.quantity }}
                            {{ form.quantity.label_tag }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.location }}
                            {{ form.location.label_tag }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 center">
                            <button class="btn-floating btn-large pulse"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>


    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        var locationField = document.getElementById("{{ form.location.id_for_label }}");
        navigator.geolocation.getCurrentPosition(function (location) {
                locationField.value =
                    location.coords.longitude.toPrecision(4).toString() +
                    ", " +
                    location.coords.latitude.toPrecision(4).toString();
            },
            function (error) {
                locationField.value = "";
                locationField.placeholder = "Unable to retrieve your position...";
            });
    </script>
{% endblock %}

