<div class="row">
    <div class="card col s12 m10 offset-m1 l6 offset-l3">
        <form action="" method="post" class="card-content" novalidate>
            <span class="card-title">Add your item to our database</span>
            {{ form.charity }}
            {{ form.item }}
            {#            <div class="row">#}
            {#                <div class="input-field col s12">#}
            {#                    {{ form.charity }}#}
            {#                    {% if form.charity.errors %}#}
            {#                        <div class="error-box card">#}
            {#                            <div class="card-content">#}
            {#                                <ul>#}
            {#                                    {% for error in form.charity.errors %}#}
            {#                                        <li><span>{{ error|escape }}</span></li>#}
            {#                                    {% endfor %}#}
            {#                                </ul>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    {% endif %}#}
            {#                </div>#}
            {#            </div>#}

            {#            <div class="row">#}
            {#                <div class="input-field col s12">#}
            {#                    {{ form.item }}#}
            {#                    {{ form.item.label_tag }}#}
            {#                    {% if form.item.errors %}#}
            {#                        <div class="error-box card">#}
            {#                            <div class="card-content">#}
            {#                                <ul>#}
            {#                                    {% for error in form.item.errors %}#}
            {#                                        <li><span>{{ error|escape }}</span></li>#}
            {#                                    {% endfor %}#}
            {#                                </ul>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    {% endif %}#}
            {#                </div>#}
            {#            </div>#}

            <div class="row">
                <div class="input-field col s12">
                    {{ form.location }}
                    {{ form.location.label_tag }}
                </div>
            </div>

            <div class="row">
                <button class="col s12 btn waves-effect">Submit</button>
            </div>

            {% csrf_token %}
        </form>
    </div>
</div
