<div class="row">
    <div class="card col s12 m10 offset-m1 l6 offset-l3">
        <form action="" method="post" class="card-content" novalidate>
            <span class="card-title center">Record an entry</span>

            {{ form.charity }}

            <div class="row">
                <div class="input-field col s12">
                    {{ form.quantity }}
                    {{ form.quantity.label_tag }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form.location }}
                    {{ form.location.label_tag }}
                </div>
            </div>

            <div class="row">
                <div class="col s12 center">
                    <button class="btn-floating btn-large pulse"><i class="material-icons">add</i></button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
