{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

    {% if submitted %}
        <div class="row">
            <p class="success col s12">
                Your item was submitted successfully. Thank you.
            </p>
        </div>

    {% else %}
        <div class="row">
            <div class="card col s12 m10 offset-m1 l6 offset-l3">
                <form action="" method="post" class="card-content" novalidate>
                    <span class="card-title">Add your item to our database</span>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.charity }}
                            {{ form.charity.label_tag }}
                            {% if form.charity.errors %}
                                <div class="error-box card">
                                    <div class="card-content">
                                        <ul>
                                            {% for error in form.charity.errors %}
                                                <li><span>{{ error|escape }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.item }}
                            {{ form.item.label_tag }}
                            {% if form.item.errors %}
                                <div class="error-box card">
                                    <div class="card-content">
                                        <ul>
                                            {% for error in form.item.errors %}
                                                <li><span>{{ error|escape }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.location }}
                            {{ form.location.label_tag }}
                        </div>
                    </div>

                    <div class="row">
                        <button class="col s12 btn waves-effect">Submit</button>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        var locationField = document.getElementById("{{ form.location.id_for_label }}");
        navigator.geolocation.getCurrentPosition(function (location) {
                locationField.value =
                    location.coords.longitude.toPrecision(4).toString() +
                    ", " +
                    location.coords.latitude.toPrecision(4).toString();
            },
            function (error) {
                locationField.value = "";
                locationField.placeholder = "Unable to retrieve your position...";
            });
    </script>
{% endblock %}

