{% extends "base.html" %}

{% load record_extras %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

    {% if submitted %}
        <div class="row">
            <p class="success col s12">
                Your item was submitted successfully. Thank you.
            </p>
        </div>

    {% else %}
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s12 m4 offset-m2 ">
                        <a
                                href="{% url "record_create" "bulk" %}"
                                class="{% if entry_method == "bulk" %}active{% endif %}"
                        >
                            Bulk entry
                        </a>
                    </li>
                    <li class="tab col s12 m4">
                        <a
                                href="{% url "record_create" "clicker" %}"
                                class="{% if entry_method == "clicker" %}active{% endif %}"
                        >
                            Clicker
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% if entry_method == "bulk" %}
            {% bulk_entry %}
        {% elif entry_method == "clicker" %}
            {% clicker_entry %}
        {% endif %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        var locationField = document.getElementById("{{ form.location.id_for_label }}");
        navigator.geolocation.getCurrentPosition(function (location) {
                locationField.value =
                    location.coords.longitude.toPrecision(4).toString() +
                    ", " +
                    location.coords.latitude.toPrecision(4).toString();
            },
            function (error) {
                locationField.value = "";
                locationField.placeholder = "Unable to retrieve your position...";
            });
    </script>
{% endblock %}

